.panel_mensajes{
	height: 50px;
	background-color: #00FF00;
}

.panel_mensajes_error{
	height: 50px;
	background-color: #B51919;
}

.mensajes{
	text-align: center;
	color: black;
}

.mensajes_error{
	text-align: center;
	color: white;
}

